{% extends 'base.html.twig' %}

{% block title %}Index {% endblock %}

{% block body %}
    {% if app.user %}
        <p>
            hello {{ app.user.userName }}, t'es identifié en tant que {% for role in app.user.roles %} {{ role }}
            {% endfor %}
        </p>
    {% else %}
        <p>Hello gros !</p>
    {% endif %}

{% endblock %}