{# templates/emails/signup.html.twig #}
<h1>Bienvenue {{ email.toName }}!</h1>

<p>
    Vous êtes enregistré sous le nom {{ username }} avec l'email:
</p>
<p><code>{{ email.to[0].address }}</code></p>

<p>
    <a href="#">Cliquez ici pour valider votre inscription</a>
    (votre lien est valide jusqu'au {{ expiration_date|date('F jS') }})
</p>
